@charset "utf-8";
 /* styles des éléments*/
body{
    background: pink;
    width: 1260px;
    margin: 0 auto;
    padding: 0 auto;
}
#container{
    width: 1200px;
}
header{
    background: yellow;
    height: 200px;
}
aside{
    background: greenyellow;
    width: 200px;
    height: 400px;
    float: left;
}
section{
    background: grey;
    width: 1000px;
    height: 400px;
    float: left;
}
/* style du texte */
p{
    text-align: center;
}
/* style zoning */
.clear{
    clear: both;
}